@model IEnumerable<SydnomCollege.Models.Student>

@{
    ViewData["Title"] = "Index";
}
@section Style
{
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section Scripts

{
    <script src="~/js/jquery.dataTable.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script>

        $(document).ready(function () {
            $('#tbl').DataTable();

        });

    </script>

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table border="1" id="tbl" class="display compact text-center" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    <button>@Html.ActionLink("Edit", "Edit", "Students", new { Id = item.StudentId }, new { @class = "btn btn-success btn-sm" })</button>
                    <button>@Html.ActionLink("Detalis", "Details", "Students", new { Id = item.StudentId }, new { @class = "btn btn-primary btn-sm" })</button>
                    <button>@Html.ActionLink("Delete", "Delete", "Students", new { Id = item.StudentId }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure you wish to delete this record?')" })</button>


                    @*<a asp-action="Edit" asp-route-id="@item.StudentId"class = "btn btn-success btn-sm">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.StudentId"class = "btn btn-primary btn-sm">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-danger btn-sm" onclick="return confirm('are you sure you want to delete this record??')">Delete</a>*@
                </td>
            </tr>
        }

    </tbody>
</table>


@{
    ViewBag.Title = "Student List";

}

<div class="card-deck">
    @foreach (var employee in Model)
    {

        var PhotoPath = "~/Images/" + (employee.PhotoPath ?? "NoImage.jpg");

        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h5>@employee.Name</h5>
            </div>
            <img class="card-img-top imageThumbnail" src="@PhotoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Students" asp-action="Edit" asp-route-id="@employee.StudentId" class="btn btn-primary m-1">Edit</a>
                <a asp-controller="Students" asp-action="Details" asp-route-id="@employee.StudentId" class="btn btn-primary m-1">Details</a>
                <a asp-controller="Students" asp-action="Delete" asp-route-id="@employee.StudentId" class="btn btn-danger" onclick="return confirm('are you sure you want to delete this record??')" m-1">Delete</a>

            </div>

        </div>
    }

</div>



